@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: black;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 999; /* Ensure navbar is above other content */
  }
  
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
    margin-top: 5px; /* Adjust the margin to bring the logo down */
  }
.navbar .logo img {
  width: 50px; /* Adjust as per your logo's size */
  height: 50px;
  margin-right: 10px; /* Adjust spacing between logo and text */
}
.navbar .logo span {
  color:	#FFA500;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #FFA500;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

  .footer-distributed{
    background: #444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
  }
  
  /* Footer left */
  .footer-distributed .footer-left{
    float: left;
  }
  
  /* The company logo */
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
  }
  
  .footer-distributed h3 span{
    color: #FFA500;
  }
  
  /* Footer links */
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer social icons */
  .footer-distributed .footer-icons{
    margin-top: 40px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* Footer Right */
  .footer-distributed .footer-right{
    float: right;
  }
  
  .footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
  }
  
  /* The contact form */
  .footer-distributed form{
    display: inline-block;
  }
  
  .footer-distributed form input,
  .footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
  
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;
  
    width: 400px;
    padding: 18px;
  }
  
  .footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
  }
  
  .footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
  }
  
  .footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
  }
  
  .footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
  }
  
  .footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
  }
  
  .footer-distributed form button{
    border-radius: 3px;
    background-color:  #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  @media (max-width: 1000px) {
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-company-name{
      font-size: 12px;
    }
  
    .footer-distributed form input,
    .footer-distributed form textarea{
      width: 250px;
    }
  
    .footer-distributed form button{
      padding: 10px 35px;
    }
  }
  
  @media (max-width: 800px) {
    .footer-distributed{
      padding: 30px;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      float: none;
      max-width: 300px;
      margin: 0 auto;
    }
  
    .footer-distributed .footer-left{
      margin-bottom: 40px;
    }
  
    .footer-distributed form{
      margin-top: 30px;
    }
  
    .footer-distributed form{
      display: block;
    }
  
    .footer-distributed form button{
      float: none;
    }
  }
  .figure-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 1500px;
    margin: 40px 270px 50px;
  }
  
  .figure-container .snip1477 {
    flex: 1;
    max-width: 400px; /* Increase max-width as needed */
    margin-bottom: 20px; /* Add space between items */
  }
  
  .container {
    margin-top: 150px; /* Adjust as needed */
  }
  
  .container h2 {
    font-size: 24px;
    color: #ffffff; /* Adjust color as needed */
    text-align: center; /* Center the text */
    margin-top: 200px; /* Adjust margin-top to move the h2 down */
    z-index: 999; /* Adjust z-index as needed */
    animation: glow 2s infinite ease-in-out;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px rgba(255, 0, 222, 0.5);
    }
    50% {
      text-shadow: 0 0 20px rgba(255, 0, 222, 0.8);
    }
    100% {
      text-shadow: 0 0 30px rgba(255, 0, 222, 1);
    }
  }